<body>
  <div class="screen">
    <p id="screen">0</p>
  </div>

  <div class="buttonRow">
    <div class="button format" id="ac"><p id="acp">AC</p></div>
    <div class="button format" id="invert"><p>±</p></div>
    <div class="button format" id="percentage"><p>%</p></div>
    <div class="button function" id="divide"><p>÷</p></div>
  </div>
  <div class="buttonRow">
    <div class="button num"><p>7</p></div>
    <div class="button num"><p>8</p></div>
    <div class="button num"><p>9</p></div>
    <div class="button function" id="times"><p>x</p></div>
  </div>
  <div class="buttonRow">
    <div class="button num"><p>4</p></div>
    <div class="button num"><p>5</p></div>
    <div class="button num"><p>6</p></div>
    <div class="button function" id="minus"><p>-</p></div>
  </div>
  <div class="buttonRow">
    <div class="button num"><p>1</p></div>
    <div class="button num"><p>2</p></div>
    <div class="button num"><p>3</p></div>
    <div class="button function" id="plus"><p>+</p></div>
  </div>
  <div class="buttonRow">
    <div class="button double num"><p>0</p></div>
    <div class="button" id="dec"><p>.</p></div>
    <div class="button function" id="equals"><p>=</p></div>
  </div>
</body>
