<div class="intro-container">
  <h2>Hey, I'm Chris.</h2>
  <p>
    I am a full stack .NET developer that takes pride in building simple,
    beautiful applications using modern web technologies.
  </p>
  <p>
    I currently live in Greenville, SC and work in the industrial manufacturing
    domain. In code, as well as in life, I strive towards mastery and order.
  </p>
  <p>
    Interested in working together? Take a look at my
    <a routerLink="/resume">CV</a> or connect on LinkedIn or GitHub and reach
    out!
  </p>
</div>
