a {
  color: #0000ee;
}

h2 {
  margin-bottom: 0;
}

.intro-container {
  width: 90%;
  min-width: 350px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
