<div class="intro-container">
  <h2>Hey, I'm Chris.</h2>
  <p>
    I am a full stack .NET developer that takes pride in building simple,
    beautiful applications using modern web technologies.
  </p>
  <p>
    In code, as well as in life, I strive towards mastery and order. I currently
    live in Greenville, SC and work in the industrial manufacturing domain.
  </p>
  <p>
    Interested in working together? Take a look at my
    <a href="../../../assets/pdfs/christopher-curley-resume.pdf" target="_blank"
      >CV</a
    >
    or connect with me on LinkedIn or GitHub. Let's talk!
  </p>
  <p>
    In the space below I've included a few projects for you to peruse. You'll
    find a mixture of technologies, and details about each one. Enjoy!
  </p>
  <div class="icon">
    <fa-icon [icon]="faHandPointDown" size="2x"></fa-icon>
  </div>
</div>
