.name {
  position: relative;
  overflow: hidden;
  padding: 0.6rem;
  background-color: #081efc;
}

.name .name-text {
  padding: 2.4rem;
  background-color: #3366ff;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  color: transparent;
  text-stroke: 2px #f6f7f8;
  -webkit-text-stroke: 2px #f6f7f8;
  letter-spacing: 1.6rem;
  padding-left: 1.6rem;
}
