@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary-color: rgb(0, 38, 120);
  --secondary-color: rgb(6, 96, 63);
}

body,
html {
  height: 100%;
  max-width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  /* background-color: rgb(0, 0, 0); */
}

.main-content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  height: auto;
  /* border: aquamarine 5px dotted; */
}

:root {
  --gradient1: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

.bgimg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--gradient1);
  background-size: 600%;
  height: auto;
  animation: bg-animation 40s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
